[submodule "scripts"]
	url = https://github.com/simonlearnscoding/scripts.git
[submodule "installation-scripts"]
	url = https://github.com/simonlearnscoding/my-linux-setup.git
[submodule ".config/astronvim"]
	url = https://github.com/simonlearnscoding/AstroNvim_user.git
